<h1>Simple Markdown</h1>

<div data-test-selector="simple">
  {{render-markdown myMarkdownAttr}}
</div>

<h1>Blank param</h1>

<div data-test-selector="blank">
  {{render-markdown}}
</div>

<h1>With an attr</h1>

<div data-test-selector="with-attr">
  {{render-markdown anotherMarkdownAttr}}
</div>
