<h1>Simple Markdown</h1>

<div data-test-selector="simple">
  {{render-markdown this.myMarkdownAttr}}
</div>

<h1>Blank param</h1>

<div data-test-selector="blank">
  {{render-markdown}}
</div>

<h1>With an attr</h1>

<div data-test-selector="with-attr">
  {{render-markdown this.anotherMarkdownAttr}}
</div>

<h1>Stripping Markdown</h1>

<div data-test-selector="strip-markdown">
  {{strip-markdown this.myMarkdownAttr}}
</div>
